<h1>Pretplata na online sadržaj</h1>

<p>Pozdrav, {{name}}! Stigao je tvoj zahtjev za administriranjem pretplate na dev-mario.xyz</p>
<p>Kako bi otvorio svoj pretplatnički profil, <a href="https://dev-mario.xyz/{{{url}}}">klikni na link!</a></p>
<p>Nadam se da će ti sadržaj koristiti. Pozdrav!</p>