<h1>Pretplata na online sadržaj</h1>

<p>Pozdrav, {{name}}! Uspješno si se prijavio za dobivanje e-mail poruka sa dev-mario.xyz</p>
<p>Kako bi otvorio svoj pretplatnički profil, <a href="https://dev-mario.xyz/{{{url}}}">klikni na link!</a></p>
<p>Nadam se da će ti sadržaj koristiti. Pozdrav!</p>
<p><small>Napomena: link vrijedi dok ne spremiš promjene, nakon toga zatraži novi na <a
      href="https://dev-mario.xyz/subscribers/request">linku!</a></small></p>