<small>
  Poruka poslana u {{time}}
  {{#if id}}
  ({{id}})
  {{/if}}
</small>
<br>
<small><a href="https://dev-mario.xyz/">dev-mario.xyz</a> &copy; Mario Kopjar 2021.</small>
<br>
<small>
  Let go of who you think you're supposed to be; embrace who you are.
</small>